*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background: rgb(201, 31, 201);
    height: 80px;
    width: 100%;
}
label.logo{
    color:white;
    size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold ;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: whitesmoke;
}
nav ul li a{
    font-size: 18px;
}
